<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <% if(htmlWebpackPlugin.options.isDevelopment) { %>
      <meta http-equiv="Content-Security-Policy" content="script-src 'self' localhost:4563 'unsafe-eval';">
      <%
        // Dynamically insert the DLL script in development env in the
        // renderer process
      %>
      <script defer src="/dll/renderer.dev.dll.js"></script>
    <% } else { %>
      <meta http-equiv="Content-Security-Policy" content="script-src 'self' localhost:4563;">
    <% } %>

    <title>Oratio</title>
  </head>
  <body>
    <div id="root"></div>
  </body>
</html>
